* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    flex-direction: column;
}

.controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    width: 1200px;
    max-width: 100%;
}

.slider {
    width: 500px;
    max-width: 50%;
}

#info {
    width: 1200px;
    max-width: 100%;
}

#map {
    height: 700px;
    width: 1200px;
    max-height: 100vh;
    max-width: 100%;
}

#pause, #play {
    border-radius: 6px;
    border: black 2px solid;
    padding: 5px;
    text-decoration: none;
    color: black;
}
